@import './breakpoints.scss';

#app .card-container {
  display: flex;
  flex-flow: wrap;
  > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

#app .v_card__text {
  padding-bottom: 0px !important;
}

#app .v-stepper__content {
  padding: 0px;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.show-on-mobile {
  display: none;
}
.show-on-desktop {
  display: block;
}

.container-override {
  display: flex;
  flex-direction: column;
  height: min-content;
  padding-top: 0px;
}

@media only screen and (max-width: $SMALL) {
  .button-container {
    flex-direction: column;
  }

  .show-on-desktop {
    display: none;
  }
  .show-on-mobile {
    display: block;
    margin-top: auto;
  }
  .container-override {
    height: 100%;
    padding: 0px;
  }

  #app .text-h5 {
    font-size: 1.25rem !important;
  }
}
